.side_bar{
    width: 100%;
    position: fixed;
    top: 0;
    right:0;
}
.container{
    width: 100%;
    height: 100%;
}
.headers-warper{
    width: 100%;
    display: flex;
}
.header-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50px;
   
    
    
  
}
.icon-warper{
    padding: 15px;
}
.page_warper{
    
    width: 100%;
  
}

.buttons{
   color:white;
   background-color: orange; 
}
.loader_warper{
    position: fixed;
    top: 40%;
    left:45%;
    z-index: 1000;
    /* color: #e6531d; */
}

.support-float{
    position: fixed;
    z-index: 1000;
    bottom:5%;
    background-color: rgb(220, 231, 236);
    opacity: 0.8;
    border-radius: 50%;
    padding: 10px;

}

.support-icon{
    width:70px !important;
    height: 70px !important;
    color:rgb(36, 24, 4);

}