.header{
    height: 40px;
    background-color: rgb(221, 235, 243);
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.comments-warper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    
}

.select_meal{
    width:210px;
    height: 30px;
    margin-left: 20px;
    margin: 5px;
}

.options{
    height: 30px;
    
}
.search_meal{
    height: 25px;
    width:200px;
    margin: 5px;
    
}

.comment{
text-align: right;
padding-right: 20px;
}
.note_bt{
    width:250px;
    font-size: large !important;  
    background-color: rgb(243, 243, 243) !important;
  font-weight: 600 !important;
}
.notification-warper{
    background-color: rgb(221, 235, 243);
    padding-top: 5px;
    padding-bottom: 5px;
}
.iframe{
    height: 50px;
    width: 100px;
}
@media only screen and (max-width: 550px){
.header{
    flex-direction: column;
    height: 80px;
    margin-top: 70px;
}
.list{
    flex-direction: column;
    justify-content: center !important;  
}
}